@{
    ViewData["Title"] = "Product Categories";
}
<main>
    <h1>Product Categories</h1>
    <p>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>

    </p>
    <p>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>

    </p>
    <p>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>

    </p>
</main>
