@{
    ViewData["Title"] = "Checkout";
}
<main>

    <p>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
    </p>
    <p>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
    </p>
    <p>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
    </p>
    <p>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
    </p>
    <p>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
    </p>
    <p>
        <img src="https://picsum.photos/id/626/200/300" alt="photo"></img>
    </p>
    <div align="left">
        <button>Shipping</button>
        <span style="float:right;">
            <button>Total</button>
        </span>
    </div>

    <div align="left">
        <span style="float:right;">
            <button>Checkout</button>
        </span>
    </div>
    <br>
</main>
