@{
    ViewData["Title"] = "Contact Us";
}
<main>
    <br>
    <form action="/action_page.php">
        Name: <input type="text" name="name" value="Enter Here"><br>
        Email: <input type="text" name="email" value="Enter Here"><br>
        <input type="radio" name="customer" value="shipping"> Shipping<br>
        <input type="radio" name="customer" value="comments"> Comments<br>
        <input type="radio" name="customer" value="other"> Other<br>


        Picture Attachment: <input type="file" id="pic1"><br>
        <br>
        <input type="submit" value="Submit">
    </form>
    <br>
</main>
