<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="/Views/Shared/_Head.cshtml" />
</head>

<body>
    <header class="header header-absolute">
        <partial name="/Views/Shared/_TopNav.cshtml" />

        <div class="align-self-lg-stretch">
            <div class="col-md-auto">
                <partial name="_CookieConsentPartial" />

            </div>
        </div>

    </header>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
<footer class="main-footer">
    <partial name="/Views/Shared/_Footer.cshtml" />
</footer>
</html>